#root {
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
}

/* Footer CSS */

.pagefooter {
  display: flex;
  justify-content: center;
}
.footcontainer {
  margin: 30px;
  position: relative;
  width: 97%;
  max-width: 800px;
  padding: 30px;
  background-image: url("../Images/storyhub.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 3px;
  height: 350px;
  display: flex;
  justify-content: center;
}
.footheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 88%;
  height: 300px;
  border-radius: 3px;
  padding: 30px 30px;
}

.footheading h2 {
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.copyright {
  position: relative;
  overflow: hidden;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
}
.form-control {
  border: none;
}

.emailhere {
  margin-right: 15px;
  /* display: flex;
  justify-content: center; */
  border: none;
  border-bottom: 1px solid #000000;
  outline: 0;
  border-radius: 0;
}

Form Button {
  display: inline;
  border-radius: 0;
  cursor: pointer;
}

/*MainContent CSS */

.pagecontent {
  min-height: 80vh;
}
.headingabout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin-top: 50px;
}

.headingcontent {
  position: relative;
  max-width: 750px;
  text-align: center;
}

.headingcontent h2 {
  color: rgb(22, 22, 21);
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.caption {
  font-size: 15px;
  font-weight: 200;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hoverContent{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.hoverOverlay{
  position: absolute;
  bottom: 15%;
  left: 10%;
  right: 10;
  background-color: #c5c6c7;
  overflow: hidden;
  width: 80%;
  height: 0;
  transition: .5s ease;
}

.photocard:hover .hoverOverlay{
  display: flex;
  height: 50%;
  left: 10%;
  right: 10%;
  bottom: 15%;
  width: 80%;
  opacity: 0.8;
  
}
.photocard {
  border: 0;
  border-radius: 0;
  width: 100%;
  height:auto;
  padding: 30px;
  display: block;
  object-fit: cover;
  object-position: center center;
}
.photocardblock{
  position: relative;
}

.picgrid{
  object-position: center center;
  overflow: hidden;
}



.imggrid img{
  margin: 10px;
  cursor: pointer;
  /* transition: transform 0.3s ease-in-out; */
  overflow: hidden;
}
/* .imggrid img:hover{
  transform: scale(1.1);
   */

.imgcaptions{
background-color: #f4f6f8;
width: 100%;
height: 50px;
overflow: hidden;
}

.photocaptions{
  text-align: center;
  font-size: medium;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 5px;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
